<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="100" fxLayout="column" fxLayoutGap="20px">
        <mat-card>
          <mat-card-header style="justify-content: center; align-items: center;">
            <mat-card-title>
              <h2>ЧЕМ ПОЛЕЗЕН СУДИНВЕСТ.РУ?</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Предоставляем финансовую и правовую поддержку в решении коммерческих споров.</p>
            <p>Полезны компаниям, предпринимателям и гражданам, которые столкнулись с судебным спором или которые владеют проблемным активом, но:</p>
            <mat-list>
              <mat-list-item>
                <h2 matListItemTitle><i class="fa-solid fa-ruble-sign"></i> Не обладают финансовыми ресурсами для покрытия расходов;</h2>
                <p matListItemLine>Даем возможность нанять высококлассных юристов и других экспертов, оплатить госпошлину, что может повысить шансы на успех дела.</p>
              </mat-list-item>
              <mat-list-item>
                <h2 matListItemTitle><i class="fa-solid fa-scale-unbalanced-flip"></i> Желают снизить риск или не имеют уверенности в результате дела</h2>
                <p matListItemLine>Открываем перспективу вести судебные дела, которые в противном случае не смогли бы себе позволить.</p>
              </mat-list-item>
              <mat-list-item>
                <h2 matListItemTitle><i class="fa-solid fa-chart-pie"></i> Хотят эффективно управлять задолженностью</h2>
                <p matListItemLine>Позволяем передать функцию по взысканию дебиторской задолженности в управление профессиональным командам.</p>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header style="justify-content: center; align-items: center;">
            <mat-card-title>
              <h2>НАС ИНТЕРЕСУЮТ РАЗНЫЕ ДЕЛА</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-list>
              <mat-list-item>
                <p>- управление дебиторской задолженностью на предприятии;</p>
              </mat-list-item>
              <mat-list-item>
                <p>- банкротные и проблемные активы;</p>
              </mat-list-item>
              <mat-list-item>
                - корпоративные споры;
              </mat-list-item>
              <mat-list-item>
                - имущественные споры;
              </mat-list-item>
              <mat-list-item>
                - споры с товарными знаками и нематериальными активами;
              </mat-list-item>
              <mat-list-item>
                - споры с ЦФА и криптоактивами;
              </mat-list-item>
              <mat-list-item>
                - наследственные дела и раздел имущества супругов;
              </mat-list-item>
              <mat-list-item>
                - другие.
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>