$lt-gray: #ddd;
$background-dark: #3100a3;
$background-light: #4f6dce;
$background-pale: #c4cde9;
$background-moredark: #d3d1d1;


@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:floralwhite;
    min-height: 150px;
}

.active {
    background: $lt-gray;
 }